
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}">MovieHub</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 mx-5">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'watch_list' %}">Watch List</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{%url 'logout_user' %}">Log-Out</a>
          </li>
          {%else%}
          <li class="nav-item">
            <a class="nav-link" href="{%url 'signup_user' %}">Sign-Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'login_user' %}">Log-In</a>
          </li>
          {%endif%}
          {%if user.is_authenticated %}
          <li class="nav-item">
              <p class="text-light pt-2">Hello! {{request.user.username}}</p>
          </li>
          {%endif%}
        </ul>
      </div>
    </div>
  </nav>