{% extends 'base.html' %}
{%block content%}
<h1 class="text-light text-center">Watch List</h1>

<div class="container text-light d-flex">
{% if movie%}
{%for i in movie%}
<div class="card m-4" style="width: 18rem;">
    <a href="{% url 'detail' i.movie_id %}">
    <img class="card-img-top" src="{{i.movie_image}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{i.movie_title}}</h5>
    </a>
    <a href="{%url 'watch_list_delete' i.movie_id%}" class="btn btn-primary">Remove</a>
    
    </div>
</div>
{%endfor%}
{%else%}
<h1>The List Is Empty</h1>
{%endif%}
</div>

{%endblock%}